.header {
	color: #ee6e73;
}

.mot-cle .chip {
	background-color: #ee6e73;
	color: white;
}

.material-icons.md-red { 
	color: #ee6e73; 
}

.notation {
	display: inline-block;
	width: 100%;
}

.stars {
	margin-left:auto; 
	margin-right:0;
}

.profile-image {
	max-width:300px;
}

.card .divider {
	margin-bottom: 10px;
}

.container .card .card-action a {
	color: #ee6e73 !important;
}

.container .card {
	min-height: 300px;
}

.container .modal {
	width: 90%;
	max-height:100%;
	top:0% !important;
}

@media only screen and (min-width: 601px) {
  .container .modal {
    width: 80%;
    max-height:80%;
    top:10% !important;
  }
}

@media only screen and (min-width: 993px) {
  .container .modal {
    width: 70%;
    top:10% !important;
  }
}